.header{
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #ff8663;
  border-radius: 12px 12px 0 0;
}
.header__title{
  color: #ffffff;
  font-family: fira_sansmedium;
  font-size: 16px;
  font-weight: normal;
}
